In [211]:
import pandas as pd
import numpy as np

In [212]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [213]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [214]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [215]:
movies.shape

(4803, 20)

In [216]:
credits.shape

(4803, 4)

In [217]:
movies=movies.merge(credits,on='title')

In [218]:
movies.shape

(4809, 23)

In [219]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [220]:
#genre
#title
#id
#keywords
#overview
#cast
#crew
movies=movies[['movie_id','genres','title','overview','keywords','cast','crew']]

In [221]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   genres    4809 non-null   object
 2   title     4809 non-null   object
 3   overview  4806 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [222]:
movies.head(1)

,movie_id,genres,title,overview,keywords,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [223]:
movies.isnull().sum()

movie_id    0
genres      0
title       0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [224]:
movies.dropna(inplace=True)

In [225]:
movies.duplicated().sum()

np.int64(0)

In [226]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [227]:
import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [228]:
movies['genres']=movies['genres'].apply(convert)

In [229]:
movies.head()

,movie_id,genres,title,overview,keywords,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [230]:
movies.shape

(4806, 7)

In [231]:
movies['keywords']=movies['keywords'].apply(convert)

In [232]:
movies.head(1)

,movie_id,genres,title,overview,keywords,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [233]:
import ast
def convert2(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [234]:
movies['cast']=movies['cast'].apply(convert2)

In [235]:
movies.head()

,movie_id,genres,title,overview,keywords,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [236]:

def fetch(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [237]:
movies.head()

,movie_id,genres,title,overview,keywords,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [238]:
movies['overview'] = movies['overview'].apply(lambda x: x.split() if isinstance(x, str) else x)

In [239]:
movies.head()

,movie_id,genres,title,overview,keywords,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [240]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [241]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['overview']=movies['overview'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [248]:
movies.head()

,movie_id,genres,title,overview,keywords,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[Following, the, death, of, District, Attorney..."
4,49529,"[Action, Adventure, ScienceFiction]",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[John, Carter, is, a, war-weary,, former, mili..."

In [243]:
movies['tags']=movies['overview']+movies['cast']+movies['crew']+movies['keywords']+movies['genres']

In [244]:
movies.head()

,movie_id,genres,title,overview,keywords,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[Following, the, death, of, District, Attorney..."
4,49529,"[Action, Adventure, ScienceFiction]",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[John, Carter, is, a, war-weary,, former, mili..."

In [245]:
new_df=movies[['movie_id','title','tags']]

In [249]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [256]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Admin\AppData\Local\Temp\ipykernel_21288\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [257]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [263]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\Admin\AppData\Local\Temp\ipykernel_21288\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [267]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [270]:
pip install scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.0.0)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.8 kB ? eta -:--:--
     -------------------------------- ----- 51.2/60.8 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 60.8/60.8 kB 647.9 kB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB 1.9 MB/s eta 0:00:06
    --------------------------------------- 0.1/11.0 MB 1.7 MB/s eta 0:00:07
    --------------------------------------- 0.2/11.0 MB 1.2 MB/s eta 0:00:09
    --------------------------------------- 0.2/11.0 MB 1.4 MB/s eta 0:00:08
   - -------------------------------------- 0.3/11.0 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.3/11.0 MB 1.2 MB/s eta 0:00:09
   - -------------------------------------- 0.4/11.0 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.5/11.0 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.5/11.0 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.6/11.0 MB 1.2 MB/s eta 0:00:09
   -- ------------------------------------- 0.6/11.0 MB 1.4 MB/s eta 0:00:08
   -- ------------------------------------- 0.7/11.0 MB 1.3 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/11.0 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 0.8/11.0 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 0.9/11.0 MB 1.4 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/11.0 MB 1.4 MB/s eta 0:00:08
   --- ------------------------------------ 1.1/11.0 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.2/11.0 MB 1.4 MB/s eta 0:00:07
   ---- ----------------------------------- 1.2/11.0 MB 1.4 MB/s eta 0:00:07
   ---- ----------------------------------- 1.3/11.0 MB 1.5 MB/s eta 0:00:07
   ----- ---------------------------------- 1.4/11.0 MB 1.5 MB/s eta 0:00:07
   ----- ---------------------------------- 1.6/11.0 MB 1.6 MB/s eta 0:00:07
   ------ --------------------------------- 1.7/11.0 MB 1.6 MB/s eta 0:00:06
   ------ --------------------------------- 1.8/11.0 MB 1.6 MB/s eta 0:00:06
   ------ --------------------------------- 1.9/11.0 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 1.9/11.0 MB 1.6 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/11.0 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/11.0 MB 1.6 MB/s eta 0:00:06
   -------- ------------------------------- 2.3/11.0 MB 1.7 MB/s eta 0:00:06
   -------- ------------------------------- 2.3/11.0 MB 1.7 MB/s eta 0:00:06
   -------- ------------------------------- 2.3/11.0 MB 1.6 MB/s eta 0:00:06
   -------- ------------------------------- 2.3/11.0 MB 1.6 MB/s eta 0:00:06
   -------- ------------------------------- 2.4/11.0 MB 1.5 MB/s eta 0:00:06
   --------- ------------------------------ 2.5/11.0 MB 1.6 MB/s eta 0:00:06
   --------- ------------------------------ 2.6/11.0 MB 1.6 MB/s eta 0:00:06
   --------- ------------------------------ 2.7/11.0 MB 1.6 MB/s eta 0:00:06
   ---------- ----------------------------- 2.9/11.0 MB 1.7 MB/s eta 0:00:05
   ---------- ----------------------------- 3.0/11.0 MB 1.7 MB/s eta 0:00:05
   ----------- ---------------------------- 3.0/11.0 MB 1.7 MB/s eta 0:00:05
   ----------- ---------------------------- 3.2/11.0 MB 1.7 MB/s eta 0:00:05
   ------------ --------------------------- 3.3/11.0 MB 1.8 MB/s eta 0:00:05
   ------------ --------------------------- 3.5/11.0 MB 1.8 MB/s eta 0:00:05
   ------------- -------------------------- 3.6/11.0 MB 1.8 MB/s eta 0:00:05
   ------------- -------------------------- 3.8/11.0 MB 1.8 MB/s eta 0:00:04
   -------------- ------------------------- 3.9/11.0 MB 1.9 MB/s eta 0:00:04
   -------------- ------------------------- 4.1/11.0 MB 1.9 MB/s eta 0:00:04
   --------------- ------------------------ 4.2/11.0 MB 1.9 MB/s eta 0:00:04
   --------------- ------------------------ 4.3/11.0 MB 2.0 MB/s eta 0:00:04
   ---------------- ----------------------- 4.5/11.0 MB 2.0 MB/s eta 0:00:04
   ---------------- ----------------------- 4.5/11.0 MB 2.0 MB/s eta 0:00:04
   ----------------- ---------------------- 4.7/11.0 MB 2.0 MB/s eta 0:00:04
   ----------------- ---------------------- 4.8/11.0 MB 2.0 MB/s eta 0:00:04
   ------------------ --------------------- 4.9/11.0 MB 2.0 MB/s eta 0:00:04
   ------------------ --------------------- 5.0/11.0 MB 2.0 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.0 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 5.3/11.0 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.0 MB 2.1 MB/s eta 0:00:03
   -------------------- ------------------- 5.7/11.0 MB 2.1 MB/s eta 0:00:03
   --------------------- ------------------ 5.8/11.0 MB 2.1 MB/s eta 0:00:03
   --------------------- ------------------ 5.8/11.0 MB 2.1 MB/s eta 0:00:03
   ---------------------- ----------------- 6.2/11.0 MB 2.2 MB/s eta 0:00:03
   ---------------------- ----------------- 6.2/11.0 MB 2.2 MB/s eta 0:00:03
   ----------------------- ---------------- 6.5/11.0 MB 2.2 MB/s eta 0:00:03
   ------------------------ --------------- 6.6/11.0 MB 2.2 MB/s eta 0:00:02
   ------------------------- -------------- 6.9/11.0 MB 2.3 MB/s eta 0:00:02
   -------------------------- ------------- 7.2/11.0 MB 2.3 MB/s eta 0:00:02
   -------------------------- ------------- 7.3/11.0 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 7.5/11.0 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 7.6/11.0 MB 2.4 MB/s eta 0:00:02
   ---------------------------- ----------- 7.9/11.0 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 8.0/11.0 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 8.1/11.0 MB 2.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.3/11.0 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.6/11.0 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 8.8/11.0 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 8.8/11.0 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 9.0/11.0 MB 2.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 2.5 MB/s eta 0:00:01
   ---------------------------------- ----- 9.4/11.0 MB 2.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.6/11.0 MB 2.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 9.9/11.0 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/11.0 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.3/11.0 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 10.6/11.0 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  10.8/11.0 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 2.9 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ------------ --------------------------- 92.2/301.8 kB 5.1 MB/s eta 0:00:01
   --------------------------------- ------ 256.0/301.8 kB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 301.8/301.8 kB 2.7 MB/s eta 0:00:00
Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
   ---------------------------------------- 0.2/44.5 MB 1.3 MB/s eta 0:00:35
   ---------------------------------------- 0.5/44.5 MB 2.9 MB/s eta 0:00:16
    --------------------------------------- 0.7/44.5 MB 3.5 MB/s eta 0:00:13
    --------------------------------------- 0.8/44.5 MB 3.3 MB/s eta 0:00:14
    --------------------------------------- 0.9/44.5 MB 3.3 MB/s eta 0:00:14
    --------------------------------------- 1.1/44.5 MB 3.2 MB/s eta 0:00:14
   - -------------------------------------- 1.4/44.5 MB 3.5 MB/s eta 0:00:13
   - -------------------------------------- 1.6/44.5 MB 3.9 MB/s eta 0:00:12
   - -------------------------------------- 1.9/44.5 MB 4.0 MB/s eta 0:00:11
   - -------------------------------------- 2.1/44.5 MB 4.0 MB/s eta 0:00:11
   - -------------------------------------- 2.1/44.5 MB 3.7 MB/s eta 0:00:12
   -- ------------------------------------- 2.3/44.5 MB 3.7 MB/s eta 0:00:12
   -- ------------------------------------- 2.4/44.5 MB 3.7 MB/s eta 0:00:12
   -- ------------------------------------- 2.5/44.5 MB 3.5 MB/s eta 0:00:12
   -- ------------------------------------- 2.6/44.5 MB 3.5 MB/s eta 0:00:12
   -- ------------------------------------- 2.7/44.5 MB 3.5 MB/s eta 0:00:13
   -- ------------------------------------- 2.8/44.5 MB 3.4 MB/s eta 0:00:13
   -- ------------------------------------- 2.9/44.5 MB 3.3 MB/s eta 0:00:13
   -- ------------------------------------- 3.1/44.5 MB 3.2 MB/s eta 0:00:13
   -- ------------------------------------- 3.2/44.5 MB 3.2 MB/s eta 0:00:13
   -- ------------------------------------- 3.3/44.5 MB 3.2 MB/s eta 0:00:13
   --- ------------------------------------ 3.5/44.5 MB 3.2 MB/s eta 0:00:13
   --- ------------------------------------ 3.6/44.5 MB 3.2 MB/s eta 0:00:13
   --- ------------------------------------ 3.8/44.5 MB 3.2 MB/s eta 0:00:13
   --- ------------------------------------ 3.9/44.5 MB 3.2 MB/s eta 0:00:13
   --- ------------------------------------ 4.0/44.5 MB 3.2 MB/s eta 0:00:13
   --- ------------------------------------ 4.3/44.5 MB 3.2 MB/s eta 0:00:13
   --- ------------------------------------ 4.4/44.5 MB 3.3 MB/s eta 0:00:13
   ---- ----------------------------------- 4.7/44.5 MB 3.3 MB/s eta 0:00:12
   ---- ----------------------------------- 4.9/44.5 MB 3.4 MB/s eta 0:00:12
   ---- ----------------------------------- 5.2/44.5 MB 3.4 MB/s eta 0:00:12
   ---- ----------------------------------- 5.4/44.5 MB 3.5 MB/s eta 0:00:12
   ----- ---------------------------------- 5.8/44.5 MB 3.6 MB/s eta 0:00:11
   ----- ---------------------------------- 5.9/44.5 MB 3.6 MB/s eta 0:00:11
   ----- ---------------------------------- 6.2/44.5 MB 3.7 MB/s eta 0:00:11
   ----- ---------------------------------- 6.5/44.5 MB 3.7 MB/s eta 0:00:11
   ------ --------------------------------- 6.7/44.5 MB 3.8 MB/s eta 0:00:11
   ------ --------------------------------- 7.0/44.5 MB 3.8 MB/s eta 0:00:10
   ------ --------------------------------- 7.2/44.5 MB 3.8 MB/s eta 0:00:10
   ------ --------------------------------- 7.4/44.5 MB 3.9 MB/s eta 0:00:10
   ------ --------------------------------- 7.6/44.5 MB 3.9 MB/s eta 0:00:10
   ------- -------------------------------- 8.0/44.5 MB 3.9 MB/s eta 0:00:10
   ------- -------------------------------- 8.2/44.5 MB 4.0 MB/s eta 0:00:10
   ------- -------------------------------- 8.3/44.5 MB 4.0 MB/s eta 0:00:10
   ------- -------------------------------- 8.4/44.5 MB 3.9 MB/s eta 0:00:10
   ------- -------------------------------- 8.4/44.5 MB 3.9 MB/s eta 0:00:10
   ------- -------------------------------- 8.6/44.5 MB 3.8 MB/s eta 0:00:10
   ------- -------------------------------- 8.8/44.5 MB 3.8 MB/s eta 0:00:10
   -------- ------------------------------- 9.1/44.5 MB 3.9 MB/s eta 0:00:10
   -------- ------------------------------- 9.3/44.5 MB 3.9 MB/s eta 0:00:10
   -------- ------------------------------- 9.7/44.5 MB 4.0 MB/s eta 0:00:09
   -------- ------------------------------- 9.9/44.5 MB 4.0 MB/s eta 0:00:09
   --------- ------------------------------ 10.2/44.5 MB 4.0 MB/s eta 0:00:09
   --------- ------------------------------ 10.5/44.5 MB 4.2 MB/s eta 0:00:09
   --------- ------------------------------ 10.8/44.5 MB 4.2 MB/s eta 0:00:09
   --------- ------------------------------ 11.1/44.5 MB 4.2 MB/s eta 0:00:08
   ---------- ----------------------------- 11.3/44.5 MB 4.3 MB/s eta 0:00:08
   ---------- ----------------------------- 11.6/44.5 MB 4.3 MB/s eta 0:00:08
   ---------- ----------------------------- 11.9/44.5 MB 4.3 MB/s eta 0:00:08
   ---------- ----------------------------- 12.2/44.5 MB 4.3 MB/s eta 0:00:08
   ----------- ---------------------------- 12.4/44.5 MB 4.4 MB/s eta 0:00:08
   ----------- ---------------------------- 12.7/44.5 MB 4.5 MB/s eta 0:00:08
   ----------- ---------------------------- 12.9/44.5 MB 4.6 MB/s eta 0:00:07
   ----------- ---------------------------- 13.2/44.5 MB 4.8 MB/s eta 0:00:07
   ----------- ---------------------------- 13.3/44.5 MB 4.8 MB/s eta 0:00:07
   ------------ --------------------------- 13.6/44.5 MB 4.9 MB/s eta 0:00:07
   ------------ --------------------------- 13.8/44.5 MB 5.0 MB/s eta 0:00:07
   ------------ --------------------------- 14.1/44.5 MB 5.0 MB/s eta 0:00:07
   ------------ --------------------------- 14.4/44.5 MB 5.2 MB/s eta 0:00:06
   ------------- -------------------------- 14.7/44.5 MB 5.2 MB/s eta 0:00:06
   ------------- -------------------------- 14.9/44.5 MB 5.2 MB/s eta 0:00:06
   ------------- -------------------------- 15.1/44.5 MB 5.2 MB/s eta 0:00:06
   ------------- -------------------------- 15.4/44.5 MB 5.2 MB/s eta 0:00:06
   -------------- ------------------------- 15.7/44.5 MB 5.2 MB/s eta 0:00:06
   -------------- ------------------------- 16.0/44.5 MB 5.2 MB/s eta 0:00:06
   -------------- ------------------------- 16.2/44.5 MB 5.3 MB/s eta 0:00:06
   -------------- ------------------------- 16.5/44.5 MB 5.2 MB/s eta 0:00:06
   --------------- ------------------------ 16.7/44.5 MB 5.2 MB/s eta 0:00:06
   --------------- ------------------------ 16.9/44.5 MB 5.2 MB/s eta 0:00:06
   --------------- ------------------------ 17.1/44.5 MB 5.2 MB/s eta 0:00:06
   --------------- ------------------------ 17.4/44.5 MB 5.2 MB/s eta 0:00:06
   --------------- ------------------------ 17.6/44.5 MB 5.2 MB/s eta 0:00:06
   ---------------- ----------------------- 17.9/44.5 MB 5.2 MB/s eta 0:00:06
   ---------------- ----------------------- 18.1/44.5 MB 5.2 MB/s eta 0:00:06
   ---------------- ----------------------- 18.4/44.5 MB 5.2 MB/s eta 0:00:06
   ---------------- ----------------------- 18.7/44.5 MB 5.6 MB/s eta 0:00:05
   ----------------- ---------------------- 19.0/44.5 MB 5.6 MB/s eta 0:00:05
   ----------------- ---------------------- 19.2/44.5 MB 5.6 MB/s eta 0:00:05
   ----------------- ---------------------- 19.5/44.5 MB 5.6 MB/s eta 0:00:05
   ----------------- ---------------------- 19.7/44.5 MB 5.6 MB/s eta 0:00:05
   ------------------ --------------------- 20.1/44.5 MB 5.6 MB/s eta 0:00:05
   ------------------ --------------------- 20.3/44.5 MB 5.6 MB/s eta 0:00:05
   ------------------ --------------------- 20.5/44.5 MB 5.5 MB/s eta 0:00:05
   ------------------ --------------------- 20.7/44.5 MB 5.5 MB/s eta 0:00:05
   ------------------ --------------------- 20.9/44.5 MB 5.5 MB/s eta 0:00:05
   ------------------ --------------------- 21.1/44.5 MB 5.4 MB/s eta 0:00:05
   ------------------- -------------------- 21.4/44.5 MB 5.4 MB/s eta 0:00:05
   ------------------- -------------------- 21.6/44.5 MB 5.4 MB/s eta 0:00:05
   ------------------- -------------------- 21.6/44.5 MB 5.3 MB/s eta 0:00:05
   ------------------- -------------------- 21.9/44.5 MB 5.3 MB/s eta 0:00:05
   ------------------- -------------------- 22.2/44.5 MB 5.3 MB/s eta 0:00:05
   -------------------- ------------------- 22.4/44.5 MB 5.3 MB/s eta 0:00:05
   -------------------- ------------------- 22.6/44.5 MB 5.2 MB/s eta 0:00:05
   -------------------- ------------------- 22.9/44.5 MB 5.2 MB/s eta 0:00:05
   -------------------- ------------------- 23.1/44.5 MB 5.2 MB/s eta 0:00:05
   -------------------- ------------------- 23.4/44.5 MB 5.2 MB/s eta 0:00:05
   --------------------- ------------------ 23.6/44.5 MB 5.3 MB/s eta 0:00:04
   --------------------- ------------------ 23.9/44.5 MB 5.3 MB/s eta 0:00:04
   --------------------- ------------------ 24.1/44.5 MB 5.3 MB/s eta 0:00:04
   --------------------- ------------------ 24.4/44.5 MB 5.3 MB/s eta 0:00:04
   ---------------------- ----------------- 24.7/44.5 MB 5.3 MB/s eta 0:00:04
   ---------------------- ----------------- 25.0/44.5 MB 5.3 MB/s eta 0:00:04
   ---------------------- ----------------- 25.2/44.5 MB 5.3 MB/s eta 0:00:04
   ---------------------- ----------------- 25.5/44.5 MB 5.3 MB/s eta 0:00:04
   ----------------------- ---------------- 25.8/44.5 MB 5.3 MB/s eta 0:00:04
   ----------------------- ---------------- 26.1/44.5 MB 5.4 MB/s eta 0:00:04
   ----------------------- ---------------- 26.3/44.5 MB 5.3 MB/s eta 0:00:04
   ----------------------- ---------------- 26.6/44.5 MB 5.3 MB/s eta 0:00:04
   ------------------------ --------------- 26.9/44.5 MB 5.4 MB/s eta 0:00:04
   ------------------------ --------------- 27.2/44.5 MB 5.4 MB/s eta 0:00:04
   ------------------------ --------------- 27.4/44.5 MB 5.4 MB/s eta 0:00:04
   ------------------------ --------------- 27.6/44.5 MB 5.4 MB/s eta 0:00:04
   ------------------------- -------------- 27.9/44.5 MB 5.4 MB/s eta 0:00:04
   ------------------------- -------------- 28.2/44.5 MB 5.4 MB/s eta 0:00:04
   ------------------------- -------------- 28.4/44.5 MB 5.4 MB/s eta 0:00:03
   ------------------------- -------------- 28.8/44.5 MB 5.4 MB/s eta 0:00:03
   -------------------------- ------------- 29.1/44.5 MB 5.5 MB/s eta 0:00:03
   -------------------------- ------------- 29.1/44.5 MB 5.4 MB/s eta 0:00:03
   -------------------------- ------------- 29.3/44.5 MB 5.2 MB/s eta 0:00:03
   -------------------------- ------------- 29.6/44.5 MB 5.3 MB/s eta 0:00:03
   -------------------------- ------------- 29.8/44.5 MB 5.3 MB/s eta 0:00:03
   --------------------------- ------------ 30.1/44.5 MB 5.2 MB/s eta 0:00:03
   --------------------------- ------------ 30.2/44.5 MB 5.2 MB/s eta 0:00:03
   --------------------------- ------------ 30.4/44.5 MB 5.1 MB/s eta 0:00:03
   --------------------------- ------------ 30.6/44.5 MB 5.2 MB/s eta 0:00:03
   --------------------------- ------------ 30.7/44.5 MB 5.1 MB/s eta 0:00:03
   --------------------------- ------------ 31.0/44.5 MB 5.2 MB/s eta 0:00:03
   ---------------------------- ----------- 31.3/44.5 MB 5.2 MB/s eta 0:00:03
   ---------------------------- ----------- 31.6/44.5 MB 5.2 MB/s eta 0:00:03
   ---------------------------- ----------- 31.7/44.5 MB 5.2 MB/s eta 0:00:03
   ---------------------------- ----------- 31.8/44.5 MB 5.2 MB/s eta 0:00:03
   ---------------------------- ----------- 32.0/44.5 MB 5.2 MB/s eta 0:00:03
   ----------------------------- ---------- 32.3/44.5 MB 5.2 MB/s eta 0:00:03
   ----------------------------- ---------- 32.5/44.5 MB 5.2 MB/s eta 0:00:03
   ----------------------------- ---------- 32.9/44.5 MB 5.3 MB/s eta 0:00:03
   ----------------------------- ---------- 33.1/44.5 MB 5.3 MB/s eta 0:00:03

In [299]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [300]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [301]:
vectors.shape

(4806, 5000)

In [302]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [287]:
pip install nltk

Requirement already satisfied: nltk in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [289]:
import nltk

In [290]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [296]:
def stem(text):
    y=[]
    for i in  text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [297]:
ps.stem('loving')

'love'

In [298]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\Admin\AppData\Local\Temp\ipykernel_21288\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [304]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [306]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors)

array([[1.        , 0.08471737, 0.08740748, ..., 0.04499213, 0.        ,
        0.        ],
       [0.08471737, 1.        , 0.06253054, ..., 0.02414023, 0.        ,
        0.02654659],
       [0.08740748, 0.06253054, 1.        , ..., 0.02490677, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02414023, 0.02490677, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02654659, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [308]:
cosine_similarity(vectors).shape

(4806, 4806)

In [310]:
similarity=cosine_similarity(vectors)

In [312]:
similarity

array([[1.        , 0.08471737, 0.08740748, ..., 0.04499213, 0.        ,
        0.        ],
       [0.08471737, 1.        , 0.06253054, ..., 0.02414023, 0.        ,
        0.02654659],
       [0.08740748, 0.06253054, 1.        , ..., 0.02490677, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02414023, 0.02490677, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02654659, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [324]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1214, np.float64(0.2847987184339659)),
 (2405, np.float64(0.26600795837367097)),
 (3728, np.float64(0.2605130246476754)),
 (507, np.float64(0.257841025556124)),
 (539, np.float64(0.25038669783359574))]

In [327]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [330]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
10th & Wolf
The Dark Knight Rises

In [333]:
import pickle
pickle.dump(new_df,open('movies.pkl','wb'))

In [335]:
pickle.dump(similarity,open('similarity.pkl','wb'))